





/* header a:hover{
   display: none;
} */

a{
   text-decoration:none;
}
/* .label {
}
.label.success {
} */

/* .item a p.new-label span{
  position: relative;
  content: 'NEW'
} */



.h2:hover a p.王 span{
  display: none;
}
.h2:hover a p.王:after{
  content: url(iris.png)'王';
}

a:link{

}

a:visited{

}

.work:hover ~ .w {
   background-color: #ccc;
   font-size: 10rem;
   margin-right: 1000px;
   margin-top:80px;
}

a:active{

}
