/// =================================================================================
/// Grid-related
/// =================================================================================
$grid--column-width: 60px;
$grid--gutter-width: ($grid--column-width/3);
$grid--unit: ($grid--column-width + $grid--gutter-width);
$grid--column-count: 15;
$grid--leading: 24px;

/// =================================================================================
/// Widths
/// =================================================================================
$width--border--thin:   1px;

/// =================================================================================
/// Colors
/// =================================================================================
$color--border: #000;
$color-big-o: rgb(220,109,64);
$BG-color:rgb(233,233,233);

/// =================================================================================
/// Breakpoints
/// =================================================================================
$breakpoint--desktop: (15 * $grid--unit);
$breakpoint--tablet:  (10 * $grid--unit);

/// =================================================================================
/// font
/// =================================================================================
$h1--fontsize: 50rem;
$h1-fontfamily: 'Sree Krushnadevaraya', serif;
$big--o--lineheight: 720px;
