@import 'variables';

* {
   margin: 0;
   padding: 0;
}

header{
   height:$viewport--height;
   background-color:$BG-color;
}

.h1{
   float:left;
   position: relative;
   left:50%;
}

h1{
   font-size: $h1--fontsize;
   line-height: 1;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100;
   line-height: $viewport--height;
   position: relative;
   float:right;
   left:-50%;
   color: $color-big-o;
}

.h2{
   font-size: $h1--fontsize/9;
   font-weight: 600;
   float:left;
   position: absolute;
   margin-left: -56.3%;
}


abbr{
   text-decoration: none;
}

nav{
   position: sticky;
   top: 0px;
   height:0;
   z-index: 1000;
}

.navbar{
   // position: sticky;
   top: 0px;

   // width: 100%;
}

nav ul{
   list-style: none;
   text-align: center;
   position: relative;
   bottom:40px;
   // background-color: rgba(233,233,233,0.9);
   border: 15px solid rgb(240,240,240);
   background: rgb(240,240,240);
   border-radius: 120px;
   padding-top:7px;
   padding-bottom:9px;
   width:(10 * $grid--unit);
   margin:auto;
   margin-top:30px;
}

// .shape{
//    width: 200px;
//    height: 100px;
//    background: red;
//    border-radius: 100px / 50px;
// }

nav ul li{
   display: inline-block;
   font-size: 20px;
}

nav ul li a {
   margin: 0 60px 0 60px;
   padding:0;
   // border: 1px solid black;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: $color-big-o;
}

nav div{
   font-size: $h1--fontsize/9;
   font-weight: 600;
   color: $color-big-o;
   font-family: 'Montserrat', sans-serif;
   position: relative;
   text-align: center;
   top:-447px;
}

.shoe-design{
   margin:auto;
   // background-color:$BG-color;
   margin-top: 100px;
   height: 800px;
   width: (15 * $grid--unit);
   padding-top:200px;
   background: rgb(255,215,1) url('../img/shoedesign-cover.jpg') no-repeat fixed (2 * $grid--unit) 50% / 500px 500px;
   border-radius:90px;
}

.shoe-design p{
   position: absolute;


}

.shoe-design img{
   position: absolute;
   right:auto;
}
